@import '../login/login.component.css';

.code-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  input {
    width: 40px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    border: 1px solid white;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
