@import "../../../auth/pages/login/login.component.css";

.container {
  all:            unset;
  width:          100%;
  display:        flex;
  gap:            20px;
  max-width:      800px;
  margin:         30px auto;
  flex-direction: column;
  align-items:    center;

  @media screen and (max-width: 900px) {
    margin: 0 auto;
  }

  .content {
    width:          100%;
    align-items:    center;
    display:        flex;
    flex-direction: column;
  }

  .form {
    padding:        20px;
    background:     var(--primary-color);
    border-radius:  16px;
    width:          100%;
    display:        flex;
    flex-direction: column;
    gap: 20px;

    p {
      color: var(--secondary-color);
    }

    .label > label {
      border-color: var(--secondary-color);

      svg { fill: var(--secondary-color); }

      input { color: var(--secondary-color); }
    }

    .label > label:focus-within {
      border-color: var(--accent-color-2);

      svg { fill: var(--accent-color-2); }

      input { color: var(--accent-color-2); }
    }

    @media screen and (max-width: 600px) {
      background:     transparent;
      padding: 20px 0;

      p {
        color: var(--primary-color);
      }

      .label > label {
        border-color: var(--primary-color);

        svg { fill: var(--primary-color); }

        input { color: var(--primary-color); }
      }

      .label > label:focus-within {
        border-color: var(--accent-color-1);

        svg { fill: var(--accent-color-1); }

        input { color: var(--accent-color-1); }
      }
    }
  }

  .card {
    width:         100%;
    border-radius: 16px;
    overflow:      hidden;
    position:      relative;

    .card-number {
      position:       absolute;
      font-size:      25px;
      font-weight:    600;
      color:          var(--primary-color);
      top:            50%;
      left:           15px;
      font-family:    var(--ff-secondary), sans-serif;
      transform:      translateY(-50%);
      width:          fit-content;
      display:        flex;
      flex-direction: row;
      gap:            20px;
      padding:        20px;
      border-radius:  8px;
      background:     rgba(0, 0, 0, 0);
      transition-duration: .3s;
      border:         1px solid transparent;
    }

    .card-data {
      position: absolute;
      width: 100%;
      padding: 0 15px;
      bottom: 15px;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p {
        font-size: 20px;
        font-weight: 600;
        color: var(--primary-color);
        padding:        10px 15px;
        border-radius:  8px;
        background:     rgba(0, 0, 0, 0);
        transition-duration: .3s;
        border:         1px solid transparent;
        display: block;
      }
    }

    .active {
      background: rgba(0,0,0,.3) !important;
      border-color: var(--primary-color) !important;
      backdrop-filter: blur(5px) !important;
    }

    img {
      filter: brightness(.7);
    }
  }
}
